.cls-0{fill:#289447;}

.cls-1{fill:#289447;
    visibility: hidden;
    transition: all 1s;}

.cls-2{fill:#289447;
    visibility: hidden;
    transition: all 1s;}

.cls-3{fill:#289447;
    visibility: hidden;
    transition: all 1s;}

.cls-4{fill:#289447;
    visibility: hidden;
    transition: all 1s;}

.cls-5{fill:#289447;
    visibility: hidden;
    transition: all 1s;}
