html{
    overflow: hidden;
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    height: 100%;
    width: 100%;
}

img{
    height:100%;
    width: 100%;
    display: block;
    margin: 0 auto;
}
#logo{
    position: absolute;
    margin: auto;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
}

#magnet{
    position: absolute;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;

}

#wave{
    position: absolute;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;

}
form{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    top:0%;
    left: 0%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    border:none;
    border-bottom:solid 2px dimgrey;
    background-color:transparent ;
    height:30px;
    width: 400px;
    margin: 15%;
    text-align: center;

}

h3{
    position: relative;
    padding-right: 10%;
    top:65%;
    text-align: center;
    opacity: 0;
    transition: all 1s;
}

#submit{
    position: absolute;
    margin:0;
    border:none;
    color: transparent;
    height:1000%;
    width: 1000%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;

}

#mail{
    margin-top: 18%;
    margin-bottom: 10%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

#pass{
    margin-top: 10%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
